<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Module test DCS</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet" type="text/css" media="screen" />
    {% block header %}{% endblock %}
</head>

<body>
    <div id="wrapper">
        <div id="wrapper2">
            <div id="page">
                <div id="header">
                    <div id="logo">
                        <a href="/index" style="text-decoration:none"><h1>Module test DCS</h1></a>
                    </div>
                    <div id="menu">
                        <ul>
                            <li><a href="/index">DCS</a></li>
                            <li><a href="/psu">PSU</a></li>
                            <li><a href="/psu_control">PSU control</a></li>

                            <!--<li><a href="about">About</a></li>-->

                        </ul>
                    </div>
                </div>
                <div id="content">
                    <div class="post">
                        <div class="entry">
                            {% block content %}{% endblock %}
                        </div> <!-- end entry -->
                    </div> <!-- end post -->
                </div><!-- end #content -->
            <div style="clear: both;">&nbsp;</div>
            <div id="widebar">
                <div style="clear: both;">&nbsp;</div>
            </div> <!-- end widebar -->
            </div>
            <!-- end #page -->
        </div>
        <!-- end #wrapper2 -->
        <div id="footer">
          <!--    <p>(c) 2007 Website Name. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> + <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>-->
        </div>
    </div> <!-- end #wrapper -->
    {% block footer %}{% endblock %}
</body>
</html>                                                                                                                                                                                                                                                                    